@font-face {
  font-family: 'icons-thelasource';
  src: url('font/icons-thelasource.eot?55421774');
  src: url('font/icons-thelasource.eot?55421774#iefix') format('embedded-opentype'),
       url('font/icons-thelasource.woff?55421774') format('woff'),
       url('font/icons-thelasource.ttf?55421774') format('truetype'),
       url('font/icons-thelasource.svg?55421774#icons-thelasource') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-thelasource';
    src: url('../font/icons-thelasource.svg?55421774#icons-thelasource') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons-thelasource";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e830'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\e826'; } /* '' */
.icon-doc-text-inv:before { content: '\e827'; } /* '' */
.icon-rss:before { content: '\e824'; } /* '' */
.icon-rss-squared:before { content: '\e823'; } /* '' */
.icon-menu:before { content: '\e81c'; } /* '' */
.icon-sort:before { content: '\e819'; } /* '' */
.icon-sort-down:before { content: '\e81a'; } /* '' */
.icon-sort-up:before { content: '\e81b'; } /* '' */
.icon-gplus-squared:before { content: '\e81e'; } /* '' */
.icon-twitter:before { content: '\e822'; } /* '' */
.icon-youtube:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\e821'; } /* '' */
.icon-link:before { content: '\e828'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-export:before { content: '\e820'; } /* '' */
.icon-print:before { content: '\e829'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-chat-1:before { content: '\e805'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-alert:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e831'; } /* '' */
.icon-newspaper:before { content: '\e81f'; } /* '' */
.icon-archive:before { content: '\e808'; } /* '' */
.icon-box:before { content: '\e807'; } /* '' */
.icon-share:before { content: '\e818'; } /* '' */
.icon-calendar:before { content: '\e82a'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-down-circled:before { content: '\e82f'; } /* '' */
.icon-down:before { content: '\e82e'; } /* '' */
.icon-left:before { content: '\e82b'; } /* '' */
.icon-right:before { content: '\e82c'; } /* '' */
.icon-up:before { content: '\e82d'; } /* '' */
.icon-paper-plane:before { content: '\e80a'; } /* '' */
.icon-graduation-cap:before { content: '\e80c'; } /* '' */
.icon-ticket:before { content: '\e80b'; } /* '' */
.icon-megaphone:before { content: '\e812'; } /* '' */
.icon-rocket:before { content: '\e80d'; } /* '' */
.icon-traffic-cone:before { content: '\e80e'; } /* '' */
.icon-cc:before { content: '\e80f'; } /* '' */
.icon-cc-by:before { content: '\e810'; } /* '' */
.icon-cc-nc:before { content: '\e811'; } /* '' */
.icon-github:before { content: '\e813'; } /* '' */
.icon-twitter-2:before { content: '\e814'; } /* '' */
.icon-facebook-squared:before { content: '\e825'; } /* '' */
.icon-address:before { content: '\e815'; } /* '' */